<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Profile Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="stylesheet" href="/static/css/mediaqueries.css" />
</head>
<body>
    <section id="profile" class="profile-content">
        <div class="section__pic-container">
          <img src="/static/images/profile-pic-2.png" alt="Suprasanna V Gunaga profile picture" />
        </div>
        <div class="section__text">
          <p class="section__text__p1">Hello, I'm</p>
          <h1 class="title">Suprasanna V Gunaga.</h1>
       
          <p>3rd Year BE Information Science & Engineering Student.<br> RNS Institute Of Technology, Bangalore.</p>
          <div class="btn-container">
          
          </div>
          <div id="socials-container">
            <img src="/static/images/email.png" alt="Send me an email" class="icon" onclick="location.href='mailto:suprasanna.gunaga@gmail.com'">
            <img src="/static/images/linkedin.png" alt="My LinkedIn profile" class="icon" onclick="location.href='https://www.linkedin.com/in/suprasanna-v-gunaga-189831228?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app'">
            <img src="/static/images/github.png" alt="My Github profile" class="icon" onclick="location.href='https://github.com/SuprasannaVG'">
          </div>
        </div>
    </section>
    <div class="container upload-container">
     <div class="purple">
        
     <h1><img src="/static/images/image.png" class="iconpe" >Phone-Pe Transaction Analysis.</h1>
     </div>
      <h1 class="mt-5">Upload a PDF file</h1>
      <form method="post" action="/upload" enctype="multipart/form-data">
        <div class="form-group">
          <label for="file">Choose PDF file</label>
          <input type="file" name="file" class="form-control-file" id="file">
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
      </form>
      <br>
      <div class="yt">
      <h6 >How to download Phone-Pe Transaction pdf?</h6>
      </div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/xoWUwXULrBE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</body>
</html>
